<span class="title">Models</span>
<%= link_to '', new_model_path, :class => 'newBtn' %>
<table id="blueTbl">
  <thead>
	  <tr>
	    <th>Make</th>
	    <th>Model</th>
		<th>Cost</th>
	    <th class="buttonHdr"></th>
	  </tr>
  </thead>
  <tfoot>
	<tr></tr>
  </tfoot>
  <tbody><% @models.each do |model| %>
	  <tr>
	    <td><%= model.make.name%></td>
	    <td><%= model.name %></td>
		<td><%= model.cost %></td>
	    <td>
		<%= link_to '', model, :class => 'showBtn' %>
		<%= link_to '', edit_model_path(model), :class => 'editBtn' %>
	    <%= link_to '', model, :class => 'delBtn', :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
  </tbody>
<% end %>
</table>