<span class="title">Employees</span>
<%= link_to '', new_employee_path, :class => 'newBtn' %>
<table id="blueTbl">
  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Address</th>
	    <th>Phone</th>
	    <th>Title</th>
	    <th class="buttonHdr"></th>
	  </tr>
  </thead>
  <tfoot>
	<tr></tr>
  </tfoot>
  <tbody>
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.first_name %> <%= employee.last_name %></td>
    <td><%= employee.street_address %> <%= employee.city %> <%= employee.state %> <%= employee.zip %></td>
    <td><%= employee.phone %></td>
    <td><%= employee.title %></td>
    <td><%= link_to '', employee, :class => 'showBtn' %>
		<%= link_to '', edit_employee_path(employee), :class => 'editBtn' %>
	    <%= link_to '', employee, :class => 'delBtn', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>