<span class="title">Shops</span>
<%= link_to '', new_shop_path, :class => 'newBtn' %>

<table id="blueTbl">
   <!-- Table header -->  
  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Address</th>
	    <th>Phone</th>
	    <th>Website</th>
	    <th class="buttonHdr"></th>
	  </tr>
	</thead>
	<!-- Table footer -->  
    <tfoot>  
	    <tr>  
	      
		</tr>  
    </tfoot>  

<% @shops.each do |shop| %>
	<tbody>  
	<tr>
	    <td><%= shop.name %></td>
	    <td><%= shop.street_address %> <%= shop.city %>, <%= shop.state %> <%= shop.zip %></td>
	    <td><%= shop.phone %></td>
	    <td><%= shop.website %></td>
	    <td>
		<%= link_to '', shop, :class => 'showBtn' %>
		<%= link_to '', edit_shop_path(shop), :class => 'editBtn' %>
	    <%= link_to '', shop, :class => 'delBtn', :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
	</tbody>
<% end %>
</table>