<span class="title">Makes</span>
<%= link_to '', new_make_path, :class => 'newBtn' %>
<table id="blueTbl">
  <thead>
	  <tr>
	    <th>ID</th>
		<th>Name</th>
	    <th class="buttonHdr"></th>
	  </tr>
  </thead>
  <tfoot>
	<tr></tr>  
  </tfoot>
  <tbody>

<% @makes.each do |make| %>
  <tr>
	<td><%= make.id %></td>
    <td><%= make.name %></td>
    <td><%= link_to '', make, :class => 'showBtn' %>
		<%= link_to '', edit_make_path(make), :class => 'editBtn' %>
	    <%= link_to '', make, :class => 'delBtn', :confirm => 'Are you sure?', :method => :delete %></td>  </tr>
<% end %>
</tbody>
</table>