<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Work order</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.employee.first_name %></td>
    <td><%= job.work_order.id %></td>
    <td><%= job.role %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
