<h1>Listing clients</h1>

<table id="blueTbl">
  <thead>
	  <tr>
	    <th>Business name</th>
	    <th>Contact</th>
	    <th>Address</th>
	    <th>Phone</th>
	    <th class="buttons"></th>
	  </tr>
	</thead>
	<tfoot>
		<tr></tr>
	</tfoot>
	<tbody>
<% @clients.each do |client| %>
  <tr>
    <td><%= client.business_name %></td>
    <td><%= client.first_name %> <%= client.last_name %></td>
    <td><%= client.street_address %> <%= client.city %> <%= client.state %> <%= client.zip %></td>
    <td><%= client.phone %></td>
    <td><%= link_to '', client, :class => 'showBtn' %>
		<%= link_to '', edit_client_path(client), :class => 'editBtn' %>
	    <%= link_to '', client, :class => 'delBtn', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</tbody>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
