<h1>The Digital Shop</h1>
<%= link_to "Shops", shops_path %> 
<%= link_to "Clients", clients_path %>
<%= link_to "Work Orders", work_orders_path %>
<%= link_to "Employees", employees_path %>  
<%= link_to "Makes", makes_path %>
<%= link_to "Models", models_path %>  
 


