<span class="title">Contractors</span>
<%= link_to '', new_contractor_path, :class => 'newBtn' %>
<table id="blueTbl">
  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Address</th>
	    <th>Phone</th>
	    <th>Title</th>
	    <th class="buttonHdr"></th>
	  </tr>
  </thead>
  <tfoot>
	<tr></tr>
  </tfoot>
  <tbody>
<% @contractors.each do |c| %>
  <tr>
    <td><%= c.first_name %> <%= c.last_name %></td>
    <td><%= c.street_address %> <%= c.city %> <%= c.state %> <%= c.zip %></td>
    <td><%= c.phone %></td>
    <td><%= c.title %></td>
    <td><%= link_to '', c, :class => 'showBtn' %>
		<%= link_to '', edit_contractor_path(c), :class => 'editBtn' %>
	    <%= link_to '', c, :class => 'delBtn', :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>