<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contractor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contractor.last_name %>
</p>

<p>
  <b>Street address:</b>
  <%= @contractor.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @contractor.city %>
</p>

<p>
  <b>State:</b>
  <%= @contractor.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @contractor.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @contractor.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @contractor.email %>
</p>

<p>
  <b>Start date:</b>
  <%= @contractor.start_date %>
</p>

<p>
  <b>Title:</b>
  <%= @contractor.title %>
</p>


<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractor_path %>
