<div class="fields">
<p>
  <%= f.label :employee, "Employee" %><br />
  <%= f.text_field :employee_id %><br />
  <%= f.label :role, "Role" %><br />
  <%= f.text_field :role %><br />
  <%= link_to_remove_fields "remove", f %>

</p>
</div>