<h1>Listing Work Orders</h1>
<%= link_to 'New Work order', new_work_order_path %>
<br />
<%= select_tag_for_filter("work_orders", @filters, params) %>
<p id="notice"><%= notice %></p>
<br />

<% @work_orders.each do |work_order| %>
<div class="workOrder">
  <div class="row1">
	<div class="col1">
	  <h1><%= work_order.id %> - <%= work_order.status %></h1>
	  <h3><%= work_order.year %> <%= work_order.make.name %> <%= work_order.model.name %> <%= work_order.vin %></h3>  
	  <b><%= work_order.client.business_name %> - <%= work_order.stock_number %></b><br />
	  
	  Priority: <%= yes_no(work_order.priority) %><br />
	  Dirty:<%= yes_no(work_order.dirty) %><br />
		    <%= work_order.notes %>
		    <%= link_to 'Show', work_order %>
		    <%= link_to 'Edit', edit_work_order_path(work_order) %>
		    <%= link_to 'Destroy', work_order, :confirm => 'Are you sure?', :method => :delete %>	
	</p>
	</div>
	  <div class="col2">
		<table class="workOrderTimes">
		  <%= times(work_order) %>  
		</table>
	  </div>
  </div>
</div>

<% end %>
</table>